@model EcommApp.ViewModels.ProductCatalog
           
<h2 class="ptitle">@ViewBag.Title</h2>
<div class="catalog">
</div>
<br />
<div class="products-wrapper">
@if (Model.Products.Count() > 0)
{
<div class="products-list clearfix">
@foreach (var item in Model.Products)
{
<p>@Html.Partial("_ProductBox", @item)</p>
}
</div>
}
else
{
    <p>There are no products within the database</p>
}
</div>

@if(Model.Categories.Count() > 0)
{
<div class="taxonomies-wrapper">
<ul>
    @foreach (var taxonomy in Model.Categories)
    {
        <li>
        <a href="@Url.Action("Products","Products", new { id = taxonomy.TaxonomyID })" title="@taxonomy.Name">@taxonomy.Name</a>
        </li>
    }
</ul>
</div>
    }
<br />
<br />
